<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>402480097429-2pgfv7vph22hllin62ih3rpouvmrqnfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402480097429-2pgfv7vph22hllin62ih3rpouvmrqnfo</string>
	<key>API_KEY</key>
	<string>AIzaSyCtrUR1beIAMK3B57Q9WM60c51os3tqs20</string>
	<key>GCM_SENDER_ID</key>
	<string>402480097429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhlenberg.Bar-Tabs</string>
	<key>PROJECT_ID</key>
	<string>bar-tabs-44ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>bar-tabs-44ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:402480097429:ios:e79430dccfe1e4af</string>
	<key>DATABASE_URL</key>
	<string>https://bar-tabs-44ce7.firebaseio.com</string>
</dict>
</plist>